* {
    box-sizing: border-box; 
}
body {
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {	margin: 0;}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;    
    color: var(--primary-color);
}

ul, ol {
	margin: 0;
	padding: 0;
    list-style-type: none; }

a { text-decoration: none; 
    color: currentColor; 
}

.wish-you {
    position: sticky;
    top: 0;
    z-index: 10;
}

body {
    background-color:rgb(251, 220, 236);
}
.container {
    max-width: 100%;
    padding: 0 160px;    
}

.main-bunner {
    background-image: url(./img/Jeva11.png) ,url(./img/heart-balloons-removebg-preview.png);
    background-size: 400px, cover;
    background-position: center, center;
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 1440px;
}

.big-text {
    font-size: 144px;
}

.img-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content:center;
}

.wish-img, .empty {
    width: 718px;
}

p {
    font-family: "Rubik Doodle Shadow", system-ui;
    font-size: 48px;
    color: rgb(99, 8, 26);
}

.main-container {
    padding: 40px 160px;
}

h2 {
    text-align: center;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-size: 64px;
    color: brown;
}

.fake-left {
    width: 730px;
    position: relative;
    right: 724px;
    border: 1px solid palevioletred;
    transition-property: opacity;
    transition-duration: 0ms;
    transition-timing-function: ease;
    transition-delay: 0ms;
}

.fake-left.first {
    top: 1px;
}

.fake-left:hover {
    opacity: 0;
}

.fake-right {
    width: 730px;
    position: relative;
    left: 722px;
    border: 1px solid palevioletred;
    transition-property: opacity;
    transition-duration: 0ms;
    transition-timing-function: ease;
    transition-delay: 0ms;
}

.fake-right:hover {
    opacity: 0;
}

